<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면 </title>
    <style>
        .detail table {
            width: 100%;
            border-collapse: collapse;
        }
        .detail table th, .detail table td {
            border:solid 1px #000;
        }

        .buttons {
            margin-top: 20px;
            text-align: center;
        }
        .buttons a, .buttons button {
            border-width: 0;
            background-color: transparent;
            text-decoration: underline;
            font-size: 14px;
            line-height: 20px;
            height: 20px;
            color: #000;
            cursor: pointer;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {

            var DATA;
            $('input:checkbox[name=chk]').each(function() {
                if($(this).is(':checked'))
                    DATA += "|"+($(this).val());
            });

        });
    </script>
</head>
<body>
    <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>
    <h1>배너 관리 - 배너 등록</h1>

<!--    배너 이미지 파일, 배너 Alter텍스트(대체 텍스트), 배너 링크 했을때 이동하는 URL정보, 클릭시Target정보(새-->
<!--    창인지, 현재창 이동인지), 정렬순서, 프론트 표시 여부-->
    <div class="detail">
        <form id="submitForm" method="post" enctype="multipart/form-data">
            <table>
                <tbody>
                <tr>
                    <th>배너명</th>
                    <td>
                        <input th:value="${detail.bannerName}" type="text" name="bannerName" placeholder="배너명 입력" required/>
                    </td>
                </tr>
                <tr>
                    <th>배너파일</th>
                    <td>
                        <input type="file" name="file" />
                    </td>
                </tr>
                <tr>
                    <th>링크주소</th>
                    <td>
                        <input th:value="${detail.bannerUrl}" type="text" name="bannerUrl" placeholder="링크 주소 입력" required/>
                    </td>
                </tr>
                <tr>
                    <th>오픈방법</th>
                    <td>
                        <select name="window">
                            <option>오픈방법선택</option>
                            <option th:selected="${detail.window == 'NEW_WINDOW'}" value="NEW_WINDOW">새창으로 이동</option>
                            <option th:selected="${detail.window == 'PRESENT_WINDOW'}" value="PRESENT_WINDOW">현재창으로 이동</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>정렬순서</th>
                    <td>
                        <input th:value="${detail.sortOrder}" type="text" name="sortOrder" placeholder="정렬 순서 입력" required/>
                    </td>
                </tr>
                <tr>
                    <th>공개여부</th>
                    <td>
<!--                        <input type="checkbox" name="showFront" value="true" checked>-->
<!--                        <input th:checked="${x.usingYn}" type="checkbox" th:id="'usingYn_' + ${x.id}" th:name="'usingYn_' + ${x.id}" value="true"/>-->
                        <input th:checked="${detail.showFront}" type="checkbox" name="showFront" th:value="${detail.showFront}" checked/>
                        <label>공개</label>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="buttons">
                <button th:if="${editMode}" type="submit"> 배너 수정 하기 </button>
                <button th:if="${!editMode}" type="submit"> 배너 등록 하기 </button>
                <a href="/admin/banner/list.do"> 목록 이동 </a>
            </div>
        </form>
    </div>

</body>
</html>
